* {
    box-sizing: border-box;
}

h1,h2,h3,p {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.app {
    width: 100%;
    height: 100vh;
    &__container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

.form {
    display: flex;
    justify-content: center;
}
